{{ ansible_managed | comment }}

{% for item in rclone__remote_sftp_host %}
[{{ item.name }}]
type = sftp
host = {{ item.host }}
user = {{ item.user }}
port = {{ item.port }}
pass = {{ item.password }}
shell_type = unix
md5sum_command = md5 -r
sha1sum_command = sha1 -r
{% if not loop.last%}

{% endif %}
{% endfor %}

{% for item in rclone__remote_crypt %}
[{{ item.name }}]
type = crypt
remote = {{ item.remote }}:{{ item.name }}
password = {{ item.password  }}
password2 = {{ item.salt }}
{% if not loop.last%}

{% endif %}
{% endfor %}
