{{ ansible_managed | comment }}

[Unit]
Description={{ rclone__systemd_service_description }} - {{ item.name }}
AssertPathIsDirectory={{ item.local_mountpoint }}
After=network-online.target

[Service]
Type=simple
ExecStart={{ rclone__systemd_exec_path }} mount \
{% if item.allow_other is defined and item.allow_other %}
    --allow-other \
{% endif %}
{% if item.allow_non_empty is defined and item.allow_non_empty %}
    --allow-non-empty \
{% endif %}
    --config={{ rclone__configuration_directory }}/rclone.conf \
    --vfs-cache-mode {{ rclone__systemd_cache_mode }} \
{% if rclone__systemd_cache_mode != "off" %}
    --cache-dir={{ rclone__systemd_cache_dir}}/{{ item.name }} \
{% endif %}
    --checkers={{ rclone__systemd_checkers }} \
    --bwlimit={{ rclone__systemd_bwlimit }} \
    --dir-cache-time={{ rclone__systemd_dir_cache_time }} \
    --poll-interval {{ rclone__systemd_poll_interval }} \
    {{ item.name }}: {{ item.local_mountpoint }}
ExecStop=/bin/fusermount -u {{ item.local_mountpoint }}
Restart=always
RestartSec=10
User={{ item.local_mountpoint_owner | d(rclone__user) }}
Group={{ item.local_mountpoint_group | d(rclone__group) }}

[Install]
WantedBy=default.target
